.preview-cont {
    width: 8rem;
    height: 8rem;
}


.menu:hover {
    background-color: #bf0100 !important;
    color: white;
    cursor: pointer;
    letter-spacing: 5px;
    transition: 0.8s;
}

.menu:focus-within {
    background-color: #bf0100 !important;
    color: white;
}

.form-control:focus {
    border-color: #989898 !important;
    box-shadow: 0 0 0 0.3rem #989898a6 !important;
}